* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 #seo {
    color: #d9dcd6;
}

/*setting the nav bar to the right of the header*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

/*setting all links in the nav bar to display side by side in a row, instead of in a column */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/*defining the main background image of the webpage*/
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*pushes images to the left */
.float-left {
    float: left;
    margin-right: 25px;
}

/*pushes images to the right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*houses all the cards that the nav bar links to*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*making sure all cards that are linked in the nav bar follow the same styling */
 .nav-content {
     margin-bottom: 20px;
     padding: 50px;
     height: 300px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     background-color: #0072bb;
     color: #ffffff;
 }

 .nav-content img {
     max-height: 200px;
 }

 .nav-content h2 {
     margin-bottom: 20px;
     font-size: 36px;
 }

 /*the sidebar*/
 .benefits {
     margin-right: 20px;
     padding: 20px;
     clear: both;
     float: right;
     width: 20%;
     height: 100%;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     background-color: #2589bd;
 }

 /*making sure all items in the side bar fit and follow the same styling*/
.sidebar {
    margin-bottom: 32px;
    color: #ffffff;
}

.sidebar h3 {
    margin-bottom: 10px;
    text-align: center;
}

.sidebar img{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    visibility: hidden;
}

/*Changing the syling to the paragraphs in footer but excluding the last paragraph from that styling*/
footer p:not(:last-child) {
    font-size: 20px;
    font-weight: bold;
}
